<div class="row">
    <div class="col">
        
        <div class="card">
            <div class="card-header">
                A<%= links %>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col">B</div>
    <div class="col">C</div>
    <div class="col">D</div>
</div>