<footer class="footer">
    <div class="container">
      <span class="text-muted">&#169; 2021 Powered with &#10084; by <a target="_blank" href="https://www.linkedin.com/in/alfonsopisicchio/">Alfonso</a></span>
    </div>
</footer>