<div class="container quotes">

    <br/> 
      <form action="/quotes" method="POST" class="was-validate">
          <div class="form-group">
            <label for="name">Name:</label>
              <input type="text" placeholder="name" name="name"></br>
              <label for="quote">Quote:</label>
            <input type="text" placeholder="quote" name="quote"></br>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>


</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>

    </div>
  </div>
</div>
