<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">  
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  Node - Express - Mongo

  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>

  <form action="/quotes" method="POST">
	  <input type="text" placeholder="name" name="name"></br>
	  <input type="text" placeholder="quote" name="quote"></br>
          <button type="submit">Submit</button>
  </form>
  <div>
	  <h2>Replace last quote </h2>
	  <button id="update"> Replace </button>
  </div>
  <div>
  	<h2>Delete first quote</h2>
  	<button id="delete"> Delete first quote </button>
  </div>
  <script type="application/javascript" src="main.js"></script>
  <script type="application/javascript" src="../node_modules/jquery/dist/jquery.js">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script type="application/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
