<!-- Modal -->
<div class="modal fade" id="exampleModalCenterUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterUpdateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterUpdateTitle"><%= __('Update') %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textModalUpdate" class="font-weight-bold"></p>
            </div>
            <div class="modal-footer">
                <form id="modalFormUpdate" method="POST" action="/groceries">
                    <input id="id_update" type="hidden" name="id" value="">
                    <input id="bought_update" type="hidden" name="bought" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="restoreValueBought();"><%= __('Close') %></button>
                    <button id="update" name="send" value="update" type="submit" class="btn btn-warning"><%= __('Update element') %></button>
                </form>
            </div>
        </div>
    </div>
</div>