<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" 
    onclick="($('#sidebarCol').hasClass('d-none')) ? $('#sidebarCol').removeClass('d-none') : $('#sidebarCol').addClass('d-none')">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand ml-2" href="#">Navbar</a>
    
</nav>