<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" 
    onclick="$('#sidebarCol').css('width','100%')">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-2" href="#">Shopping</a>
    <div class="navbar-nav  ml-auto" href="#">
        
        <div class="btn-group dropleft">
            <% if (profile) { %>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-user"></span> <%= profile.name %>
            </button>
            <div class="dropdown-menu">
                    <a class="dropdown-item" href="/home/profile"> <span class="fas fa-user"></span> Profile</a>
                    <a class="dropdown-item" href="/home/settings"><span class="fas fa-cogs"></span> Settings</a>
                    <!--<a class="dropdown-item" href="/home/profile"></span> </a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
            </div>
            <%} else { %>
                <a type="button" class="btn btn-light" href="/register">
                    <span class="fas fa-sign-in-alt"></span> SignUp
                </a>
            <% } %>
        </div>
    </div>
</nav>