<div class="container quotes">

    <br/> 
      <form action="/quotes" method="POST" class="was-validate">
          <div class="form-group">
            <label for="name">Name:</label>
              <input type="text" placeholder="name" name="name"></br>
              <label for="quote">Quote:</label>
            <input type="text" placeholder="quote" name="quote"></br>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
      
      <div>
          <h3>Replace last quote </h3>
          <button class="btn btn-warning" id="update"> Replace </button>
      </div>
      <div>
          <h3>Delete first quote</h3>
          <button class="btn btn-danger" id="delete"> Delete first quote </button>
      </div>
      
      </div>
    