<div id="sidebarCol" class="">
    <!-- Button to close the overlay navigation -->
    <!--<button type="button" class="btn btn-light btn-sm closebtn" onclick="$('#sidebarCol').css('width','0%')">&times</button>-->
    <a href="javascript:void(0)" class="closebtn" onclick="$('#sidebarCol').css('width','0%')">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="/"><%= __('Home') %></a>
        <a href="/home"><%= __('Grocery List') %></a>
        <a href="/types"><%= __('Types List') %></a>
        <!--<a href="#">Clients</a>
        <a href="#">Contact</a>-->
    </div>
</div>