<!--<div class="collapse width navbar-collapse bg-dark" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home">Grocery List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>    
    </ul>
</div>-->
<div id="sidebarCol" class="">
    <!-- Button to close the overlay navigation -->
   <a href="javascript:void(0)" class="closebtn" onclick="$('#sidebarCol').css('width','0%')">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="/">Home</a>
        <a href="/home">Grocery List</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
</div>