* {
	box-align: center;
}

body {
    text-align: center;
}
/*********** UTILS ****************/
.v-none {
    visibility: hidden;
}
/*********** NAVBAR ***************/

/* pulsante hamburger navbar sempre visibile */
.navbar-expand-sm .navbar-toggler {
    display: block;
}


/********** SIDEBAR *********************/
div.navbar-collapse.collapsing {
    max-width: 80%;
}
div.navbar-collapse.collapse.show {
    max-width: 80%;
    min-height: 900px;
    position: sticky;
    top: 0;
    z-index: 800!important;
}
#sidebarCol.col-2 {
    padding-left:0;
}
div.container-fluid>div.row>div.col-3 {
    padding: 0;
}

/****************************************/
.card-body {
    padding: 0;
}
