<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2">
    <% if(links){ %>
      <% links.forEach(function(link) { %> 
          
        <li class="breadcrumb-item active" aria-current="page">
          <a class="primary" href="/<%= link %>"> 
            <% capitalLink=link[0].toUpperCase() + link.substring(1); %>
              <%= capitalLink %>
          </a>
        </li>

      <% }); %>
   
    <% } %>

  </ol>
</nav>