<div id="nodata" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= __('No data found!') %></strong><%= __('You should addsome fields') %>.
    <button type="button" class="close" data-dismiss="alert" title="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>